* {
    padding: 0;
    margin: 0;
}

.main-content {
    background-color: rgb(41, 158, 173);
    width: 100vw;
    height: 100vh;
}

.top-left, .top-right, .bottom {
    position: absolute;
}

.top-left {
    padding: 25px;
    top: 0px;
    left: 0px;
}
.city-title {
    font-size: 1.3rem;
    font-family: 'Lobster', cursive;
}
.weather-description {
    font-size: .7rem;
    font-family: 'Aboreto', cursive;
}
.current-temperature {
    font-size: 2rem;
    font-family: 'Aboreto', cursive;
}
.change-units {
    font-size: .6rem;
    font-family: 'Aboreto', cursive;
    background: none;
    border: none;
    cursor: pointer;
}
.city-input {
    padding: 0px 0px 3px 7px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}
.city-input::placeholder {
    color: orange;
}
.cityInput:focus {
    outline: none;
    color: pink;
}
.getWeatherBtn {
    background: none;
    border: none;
    cursor: pointer;
}
.top-right {
    padding: 25px;
    text-align: end;
    top: 0px;
    right: 0px;
}
.forecast {
    position: fixed;
    width: 100%;
    bottom: 10px;
}
.five-day-forecast {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.forecast-day {
    text-align: center;
    padding: 5px;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    border-radius: 5px;
}
.day-of-week {
    font-size: 1rem;
    padding-bottom: 10px;
}
.day-high {
    font-weight: 600;
    font-family: 'Aboreto', cursive;
    font-size: 1rem;
}
.day-low {
    font-family: 'Aboreto', cursive;
    font-size: .6rem;
}
